<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8"></meta>
        <title>Panel Admin</title>
        <link rel="stylesheet" type="text/css" href="media/css/bootstrap.css">
        <link href="media/css/bootstrap-responsive.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }

      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    </style>

    <script type='text/javascript' src='https://www.google.com/jsapi'></script>
    <script type='text/javascript'>
      google.load('visualization', '1', {packages:['gauge']});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Label', 'Value'],
          ['Humidity', 40],
        ]);

        var options = {
          width: 400, height: 300,
          redFrom: 90, redTo: 100,
          yellowFrom:75, yellowTo: 90,
          minorTicks: 5
        };

        var chart = new google.visualization.Gauge(document.getElementById('chart_div'));
        chart.draw(data, options);

        var warmer = google.visualization.arrayToDataTable([
          ['Label', 'Value'],
          ['Temperature', 15],
          ]);

        var warmer_options = {
          width: 400, height: 300,
          redFrom: 40, redTo: 50,
          yellowFrom: 30, yellowTo: 40,
          minorTicks: 5, max: 50,
          greenColor: '#109618', greenFrom:0, greenTo: 30
        };

        var warmer_chart = new google.visualization.Gauge(document.getElementById('warmer_chart'));
        warmer_chart.draw(warmer, warmer_options);
      }
    </script>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">FI-WARE Hackathon</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              <a href="#" class="navbar-link">Login</a>
            </p>
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="about.html">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          <div class="hero-unit">
            <h1>Hotel Automation Admin</h1>
            <p>Control and manage your sensors in your room.</p>
            <!-- <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p> -->
          </div>
          <div class="row-fluid">
            <div class="span4">
              <h2>Bathroom Proximity Sensor</h2>
              <img src="http://dummyimage.com/280x280/ccc/fff&text=+" class="img-circle">
            </div><!--/span-->
            <div class="span4">
              <h2>Room Humidity Sensor</h2>
              <div id='chart_div'></div>
            </div><!--/span-->
            <div class="span4">
              <h2>Bathroom Door Sensor</h2>
              <img src="http://dummyimage.com/280x280/ccc/fff&text=+" class="img-circle">
            </div><!--/span-->
          </div><!--/row-->
          <div class="row-fluid">
            <div class="span4">
              <h2>Towel Warmer</h2>
              <div id="warmer_chart"></div>
              <button class="btn btn-large btn-primary" type="button" onclick="sendCommand()">Turn towel warmer ON</button>
            </div><!--/span-->
            <div class="span4">
              <h2>Dehumidifier</h2>
              <img src="http://dummyimage.com/280x280/{% if humidity >= 70  %}5f5{% else %}ccc{% endif %}/fff&text=+" class="img-circle">{{humidity}}
            </div><!--/span-->
            <div class="span4">
              <h2>Relax mode</h2>
              <img src="http://dummyimage.com/280x280/{% if relax == 'on'  %}f00{% else %}ccc{% endif %}/fff&text=+" class="img-circle">
            </div><!--/span-->
          </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; <a href="https://www.linkedin.com/in/daniellopezpedrosa/en" title="Hire me!">Daniel López Pedrosa</a> &amp; <a href="https://www.linkedin.com/in/antoniosanchezpineda" title="Hire me!">Antonio Sánchez Pineda</a> 2013</p>
      </footer>

    </div><!--/.fluid-container-->


    <script type="text/javascript" src="media/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="media/js/main.js"></script>
    </body>
</html>
